# Ejercicios Pair Programming - Modulo 2 - Sprint 1 
## Lección 7 - Pandas VII - Apply
### Judith Mellidez y Sonia Ruiz

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... 😭. En los ejercicios de hoy pondremos en práctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma más sencilla.

Manos a la obra 💪🏽! Los objetivos de la clase de hoy son:
1. Cread una columna nueva y una función que nos de el mes en el que ocurrió el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la información de mes. En ese caso devolved un nulo (NaN).

💡 Pista 💡Podéis usar regex.

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
#Abrimos el archivo sobre el que queremos trabajar, guardado con cambios de la leccion anterior 'attacks_lecc5_pandas'
df=pd.read_csv('Data_lecc5_pandas/attacks_lec5.csv')
df.head()

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018
3,3,2018.05.24,10.0,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,4,2018.05.13.a,13.0,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

- Utilizamos los siguientesmetodos para obtener informacion sobre el DataFrame:

In [4]:
df["date"].value_counts()

No date                 6
No date, Before 1963    5
Before 1906             4
Before 1958             4
18-Aug-2001             3
                       ..
18-Jun-2005             1
22-Jun-2005             1
25-Jun-2005             1
27-Jun-2005             1
1845-1853               1
Name: date, Length: 1522, dtype: int64

In [5]:
df['date'].describe()

count        1672
unique       1522
top       No date
freq            6
Name: date, dtype: object

In [5]:
df['date'].isnull().sum()

0

In [6]:
#Creamos una copia del DataFrame para trabajar sobre ella.
df2=df.copy()

In [7]:
patron = "[A-Z]\w+\-"

def sacar_mes(col):
    try:
        return re.findall(patron, col)[0].replace("-","")
        
    except:
        return np.nan

In [8]:
df2['month'] = df2['date'].apply(sacar_mes)
df2.head(3)

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,month
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018,May

In [11]:
#Obtenemos los valores de la columna 'month'.
df2['month'].value_counts()

Aug    162
Sep    154
Oct    148
Jul    148
Jun    137
Jan    129
Apr    126
May    107
Mar    107
Dec    104
Nov     99
Feb     97
Name: month, dtype: int64

2. Vamos con la columna fatal_(y/n). Lo primero que tenéis que hacer es evaluar los valores únicos que hay. Esperaríamos tener solo dos valores: y y n, pero tristemente no será así 😭. Cread una columna nueva y una función que devuelva únicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [9]:
#Nos muestra los elementos unicos del array.
df2["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [21]:
#Creamos la funcion para que solo tenga en cuenta y filtre por los valores 'Y' o 'N', de lo contrario nos devolvera un nulo.  
def return_yn (col):
    if col == "N" or col == "Y":
        return col
    else:
        return np.nan

In [22]:
#Una vez hemos creado la funcion, almacenamos los datos obtenidos en dicha funcion mediante la utilizacion del metodo 'apply' a la columna "fatal_(y/n)", y estos a su vez se encontraran
#en la columna nueva que hemos creado denominada 'dead'.
df2['dead']=df2["fatal_(y/n)"].apply(return_yn)

In [23]:
df2['dead'].head()

0    N
1    Y
2    N
3    N
4    N
Name: dead, dtype: object

In [24]:
#Comprobamos los elementos unicos del array tras realizar la funcion.
df2['dead'].unique()

array(['N', 'Y', nan], dtype=object)

3. Seguid la misma lógica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito más: En este caso querremos tener dos valores únicos F y M. De nuevo en la columna hay otros carácteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendréis que usar la librería random). En caso de que sea nulo, que la función devuelva nulo (np.nan).

In [10]:
import random

In [11]:
df2["sex_"].unique()

array(['F', 'M', 'lli', nan], dtype=object)

In [14]:
#Creamos la funcion para que en la columna 'sex_' solo tengamos dos valores unicos:'F' y 'M', y estos reemplazaran de forma aleatoria a los otros valores contenidos en la columna. 
#Excepto en el caso de que sea un valor nulo que nos devolvera NaN.
def change_sex_ (col):
    if col == "F" or col == "M":
        return col
    else:
        return np.nan

In [16]:
df2['gender']=df2['sex_'].apply(change_sex_)
df2.head()

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,...,age,time,species_,href,siglo,fatal_(y/n),injury,date,month,gender
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,...,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun,M
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,...,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018,May,M
3,3,2018.05.24,10.0,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,...,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,M
4,4,2018.05.13.a,13.0,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,...,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,M

In [17]:
df2['gender'].unique()

array(['F', 'M', nan], dtype=object)

4. Una vez que hayáis terminado eliminad las columnas originales conservando las nuevas.

5. Guardad el dataframe en un csv que usaremos más adelante

Happy coding 🦈